certifi==2018.1.18
click==6.7
future==0.16.0
joblib==0.11
numpy==1.14.2
pandas==0.22.0
python-crfsuite==0.9.5
python-dateutil==2.7.0
pytz==2018.3
scikit-learn==0.19.0
scipy==1.0.0
six==1.11.0
tabulate==0.8.2
tqdm==4.19.8
xgboost==0.7.post3
