cymem==1.31.2
Cython==0.28.2
joblib==0.11
languageflow==1.1.7
nltk==3.2.5
numpy==1.14.2
pandas==0.22.0
python-crfsuite==0.9.5
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tqdm==4.23.2
underthesea==1.1.9a0
